<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
     version="3.0">
  	<welcome-file-list>
    	<welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Restful Webservice | start -->
	    <servlet>
		    <servlet-name>jersey-serlvet</servlet-name>
		    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		    <init-param>
		      <param-name>com.sun.jersey.config.property.packages</param-name>
		      <param-value>com.maan.webservice.rest</param-value>
		    </init-param>
		    <init-param>
		      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
		      <param-value>true</param-value>
		    </init-param>
		    <load-on-startup>1</load-on-startup>
	  	</servlet>
		  <servlet-mapping>
		  	<servlet-name>jersey-serlvet</servlet-name>
		  	<url-pattern>/rest/*</url-pattern>
		  </servlet-mapping>
 
	<!-- Begin DB operations Entries -->
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DDLOperationServlet</servlet-name>
		<servlet-class>com.maan.DDL.DDLOperationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DDLOperationServlet</servlet-name>
		<url-pattern>/servlet/DDLOperationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DMLOperationServlet</servlet-name>
		<servlet-class>com.maan.DML.DMLOperationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DMLOperationServlet</servlet-name>
		<url-pattern>/servlet/DMLOperationServlet</url-pattern>
	</servlet-mapping>
	<!-- End DB operations Entries -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/WalaaLive</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<display-name>Marine Environment</display-name>
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
		org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>
		org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/servlet/AdminServlet</url-pattern>
	</servlet-mapping>
	<!-- end of code for web service -->
	
	<servlet>
		<servlet-name>cargoFlowController</servlet-name>
		<servlet-class>
			com.maan.services.util.cargoFlowController
		</servlet-class>
	</servlet>
	<servlet>
		<description>Used to send the mail</description>
		<display-name>Mail has been sent</display-name>
		<servlet-name>mailController</servlet-name>
		<servlet-class>
			com.maan.Mail.controller.mailController
		</servlet-class>
	</servlet>
	<servlet>
		<description>This will compute the Premium Amount</description>
		<display-name>
			This is the Overall Premium Inputs Page
		</display-name>
		<servlet-name>referalController</servlet-name>
		<servlet-class>
			com.maan.premium.controller.referalModificationController
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>print4Schedule</servlet-name>
		<servlet-class>rsa.pdf.print4Schedule</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>print4Debit</servlet-name>
		<servlet-class>rsa.pdf.print4Debit</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>print4ScheduleOpen</servlet-name>
		<servlet-class>rsa.opencoverpdf.print4Schedule</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>print4DebitOpen</servlet-name>
		<servlet-class>rsa.opencoverpdf.print4Debit</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PolicyController</servlet-name>
		<servlet-class>rsa.pdf.PolicyController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ConditionsController</servlet-name>
		<servlet-class> com.maan.opencover.ConditionsController </servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LCDetailsController</servlet-name>
		<servlet-class>
			com.maan.opencover.LCDetailsController
		</servlet-class>
	</servlet>
	<!-- FOR CLAIM NOTIFICATION -->
	<servlet>
		<servlet-name>ValidateClaim</servlet-name>
		<servlet-class>
			com.maan.ClaimNotification.controller.ValidateClaim
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ValidateClaimEntry</servlet-name>
		<servlet-class>
			com.maan.ClaimNotification.controller.ValidateClaimEntry
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SendMail</servlet-name>
		<servlet-class>
			com.maan.ClaimNotification.controller.SendMail
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMail</servlet-name>
		<url-pattern>/claim/SendMail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckMultipleClaim</servlet-name>
		<servlet-class>
			com.maan.ClaimNotification.controller.CheckMultipleClaim
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckMultipleClaim</servlet-name>
		<url-pattern>/claim/CheckMultipleClaim</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UpdateStatus</servlet-name>
		<servlet-class>
			com.maan.ClaimNotification.controller.UpdateStatus
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarinePDFCreator</servlet-name>
		<servlet-class>rsa.opencoverpdf.PDFCreator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarinePDFCreator</servlet-name>
		<url-pattern>*.customerDebit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ValidateClaim</servlet-name>
		<url-pattern>/claim/ValidateClaim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateClaimEntry</servlet-name>
		<url-pattern>/claim/ValidateClaimEntry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStatus</servlet-name>
		<url-pattern>/claim/UpdateStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>referalController</servlet-name>
		<url-pattern>/premium/referals</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mailController</servlet-name>
		<url-pattern>/mailController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>print4Schedule</servlet-name>
		<url-pattern>*.pdfSchedule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>print4Debit</servlet-name>
		<url-pattern>*.pdfDebit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>print4ScheduleOpen</servlet-name>
		<url-pattern>*.OpenCertificate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>print4DebitOpen</servlet-name>
		<url-pattern>*.OpenDebit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PolicyController</servlet-name>
		<url-pattern>*.policyControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConditionsController</servlet-name>
		<url-pattern>/premium/ConditionsController</url-pattern>
	</servlet-mapping>
	<!--<servlet-mapping>
		<servlet-name>LCDetailsController</servlet-name>
		<url-pattern>/LCControl/LCDetailsController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cargoFlowController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>-->
	<session-config>
		<session-timeout>30</session-timeout>
	    <!-- <cookie-config>
	        <http-only>true</http-only>
	        <secure>true</secure>
	    </cookie-config> -->
	</session-config>
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>CommodityController</servlet-name>
		<servlet-class>
			com.maan.premium.controller.CommodityController
		</servlet-class>
	</servlet>
	<servlet>
		<description>This will compute the Premium Amount</description>
		<display-name>
			This is the Overall Premium Inputs Page
		</display-name>
		<servlet-name>PremiumController</servlet-name>
		<servlet-class>
			com.maan.premium.controller.PremiumController
		</servlet-class>
	</servlet>
	<!-- <servlet-mapping>
		<servlet-name>CommodityController</servlet-name>
		<url-pattern>/premium/CommodityController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PremiumController</servlet-name>
		<url-pattern>/premium/PremiumController</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>Delete4Debit</servlet-name>
		<servlet-class>rsa.pdf.print4Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete4Debit</servlet-name>
		<url-pattern>*.DeleteDebit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CSVupload</servlet-name>
		<servlet-class>master.control.MasterUploadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CSVupload</servlet-name>
		<url-pattern>/servlet/MasterUploadFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MarineUploadFileController</servlet-name>
		<servlet-class>
			com.maan.services.util.MarineUploadFileController
		</servlet-class>
	</servlet>
	<!-- <servlet-mapping>
		<servlet-name>MarineUploadFileController</servlet-name>
		<url-pattern>/servlet/MarineUploadFileController</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>proCommissionController</servlet-name>
		<servlet-class>
			com.maan.procommission.Controller.ProCommissionController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proCommissionController</servlet-name>
		<url-pattern>
			/procommission/proCommissionController
		</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>errorHandler</servlet-name>
		<servlet-class>
			com.maan.common.exception.ServletExceptionHandler
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>errorHandler</servlet-name>
		<url-pattern>/anonymous/error</url-pattern>
	</servlet-mapping>
  	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/anonymous/error</location>
	</error-page>
   <servlet>
		<servlet-name>ConditionsControllerOpenCover</servlet-name>
		<servlet-class>com.maan.opencover.ConditionsControllerOpenCover</servlet-class>
	</servlet>
   <servlet-mapping>
        <servlet-name>ConditionsControllerOpenCover</servlet-name>
        <url-pattern>/premiumOpenCover/ConditionsController</url-pattern>
    </servlet-mapping>
   	<servlet>
		<servlet-name>LoadTest</servlet-name>
    	<servlet-class>com.maan.webservice.QuotationLoadTest</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>LoadTest</servlet-name>
    	<url-pattern>/loadQuotation</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>upload</servlet-name>
    	<servlet-class>com.maan.upload.UploadAction</servlet-class>
  	</servlet>
  	<!-- <servlet>
    	<description>This is the description of my J2EE component</description>
    	<display-name>This is the display name of my J2EE component</display-name>
    	<servlet-name>Scheduler</servlet-name>
    	<servlet-class>com.maan.common.Scheduler</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet> -->
   	<servlet-mapping>
    	<servlet-name>upload</servlet-name>
    	<url-pattern>/uploadExcel.xl</url-pattern>
  	</servlet-mapping>
  	<!-- <servlet-mapping>
 		<servlet-name>Scheduler</servlet-name>
    	<url-pattern>/servlet/Scheduler</url-pattern>
  	</servlet-mapping> -->
  	<!-- <servlet>
		<servlet-name>DatewiseBrokerDetailController</servlet-name>
		<servlet-class>
			com.maan.admin.DatewiseBrokerDetailController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatewiseBrokerDetailController</servlet-name>
		<url-pattern>/admin/DatewiseBrokerDetailController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>
			com.maan.admin.AdminController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin/AdminController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BrokerCreationController</servlet-name>
		<servlet-class>
			com.maan.admin.controller.BrokerCreationController
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BrokerCreationController</servlet-name>
		<url-pattern>/admin/BrokerCreationController</url-pattern>
	</servlet-mapping> -->
	<!-- <servlet>
    	<description>This is the description of my J2EE component</description>
   		<display-name>This is the display name of my J2EE component</display-name>
    	<servlet-name>CommodityCountryRateController</servlet-name>
    	<servlet-class>com.maan.admin.CommodityCountryRateController</servlet-class>
  	</servlet>
  	<servlet-mapping>
   		<servlet-name>CommodityCountryRateController</servlet-name>
		<url-pattern>/CommodityCountryRate.do</url-pattern>
  	</servlet-mapping>-->
	<servlet>
		<servlet-name>ExportTableController</servlet-name>
		<servlet-class>
			com.maan.admin.ExportTableController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportTableController</servlet-name>
		<url-pattern>/admin/ExportTableController</url-pattern>
	</servlet-mapping> 
	
	<!-- NIJM Web Service -->
	 
		<!-- <servlet>
			<servlet-name>NIJMWCF</servlet-name>
			<servlet-class>
				com.maan.Motor.nijm.NijmWCFServices
			</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>NIJMWCF</servlet-name>
			<url-pattern>/NIJMWCF/nijmAjax</url-pattern>
		</servlet-mapping> -->
	 
	
	<!-- ##### Day End Branch Report - Scheduler || Enter-->
	<!-- Branch Report Schduler Stoped For Walaa-->
		<servlet>
		    <description>This is the description of my J2EE component</description>
		    <display-name>This is the display name of my J2EE component</display-name>
		    <servlet-name>BranchReportScheduler</servlet-name>
		    <servlet-class>com.maan.scheduler.BranchReportScheduler</servlet-class>
		    <load-on-startup>1</load-on-startup>
	  	</servlet>
	    
	    <servlet-mapping>
		    <servlet-name>BranchReportScheduler</servlet-name>
		    <url-pattern>/servlet/BranchReportScheduler</url-pattern>
	  	</servlet-mapping>
	  	
  	<!-- Day End Branch Report - Scheduler || End-->   
  	<context-param>
		<param-name>
			org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>/WEB-INF/tiles.xml</param-value>
	</context-param>
	<filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
	</filter>
  	<filter>
    <filter-name>struts2</filter-name>
	    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<listener>
	  <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>
  	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
  	<filter-mapping>
  		<filter-name>struts2</filter-name>
  		<url-pattern>*.action</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>   
    <!-- Captcha || Start -->
  	<servlet>
		<servlet-name>SimpleCaptcha</servlet-name>
		<servlet-class>com.maan.captcha.MaanCaptcha</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>SimpleCaptcha</servlet-name>
		<url-pattern>/simpleCaptcha.jpg</url-pattern>
	</servlet-mapping>
	<!-- Captcha || End --> 
	
	<error-page> 
		<exception-type>java.lang.Exception</exception-type> 
		<location>/errors/error.jsp</location> 
	</error-page>
	<error-page> 
		<exception-type>java.io.FileNotFoundException</exception-type> 
		<location>/errors/error.jsp</location> 
	</error-page>
	<error-page> 
		<error-code>400</error-code> 
		<location>/errors/error400.jsp</location>
	</error-page>
	<error-page> 
		<error-code>401</error-code> 
		<location>/errors/error401.jsp</location> 
	</error-page> 
	<error-page> 
		<error-code>403</error-code> 
		<location>/errors/error403.jsp</location> 
	</error-page> 
	<error-page> 
		<error-code>404</error-code> 
		<location>/errors/error404.jsp</location> 
	</error-page> 
	<error-page> 
		<error-code>500</error-code> 
		<location>/errors/error500.jsp</location> 
	</error-page>

	<security-constraint>
    <display-name>Restricted Access</display-name>
    <web-resource-collection>
        <web-resource-name>Restricted Access</web-resource-name>
        <url-pattern>*.jws</url-pattern>
    </web-resource-collection>
    <auth-constraint />
</security-constraint>
</web-app>